@import url(styles.css);

@media screen and (min-width: 576px) and (max-width: 768px) {
   .main-container {
      min-width: 576px;
      max-width: 768px;
   }

   .main-wrap {
      width: 98%;
      margin: 0 auto;
   }

   .header {
      height: 95px;
   }

   .mobile-btn {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid var(--black);
      border-radius: 20px;
      box-shadow: 0 0 10px var(--black);
      position: absolute;
      top: 10px;
      right: 10px;

   }

   .mobile-btn span {
      width: 95%;
      height: 7px;
      background: var(--black);
      border-radius: 30px;
      position: relative;

   }

   .mobile-btn span::before,
   .mobile-btn span::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: var(--black);
      border-radius: 30px;
      transition: 400ms
   }


   .mobile-btn.active span::before,
   .mobile-btn.active span::after {
      top: 0;
      transition: 400ms;

   }

   .mobile-btn.active span::before {
      transform: rotate(-90deg);
      transition: 300ms;
   }

   .mobile-btn.active span::after {
      transform: rotate(90deg);
      transition: 300ms;
   }

   .mobile-btn.active span {
      transform: rotate(45deg);
      transition: 300ms;
   }


   .mobile-btn span::before {
      top: 20px;
      left: 0;
   }

   .mobile-btn span::after {
      top: -20px;
      left: 0;
   }

   .header-menu-container {
      display: none;
      position: fixed;
      left: -100%;
      top: 95px;
      transition: left 400ms;
      display: flex;
      width: 100%;
      height: calc(100vh - 95px);
      background: var(--white);
      justify-content: center;
      z-index: 1;
   }

   .header-menu-container.active {
      left: 0;
   }


   .header-menu {
      height: 80%;
      padding: 15%;
      box-sizing: border-box;
      flex-direction: column;
      row-gap: 10px;
      justify-content: space-between;
   }

   /* First screen */
   .first-screen-container {
      flex-direction: column;
      font-size: x-small;
      padding: 0;
   }

   /* Second screen  */
   .second-screen--container {
      flex-direction: column-reverse;
   }

   .second-screen--img {
      margin: 0 50%;
      transform: translateX(-50%);
   }

   /* third screen */
   .third--screen--container {
      display: none;
   }

   .second-screen--info {
      height: 530px;
   }

   /* Fourth screen */
   .fourth-screen--container {
      padding: 0;
      margin-top: 70px;
   }

   .fourth-screen--companies {
      flex-direction: column;
   }

   .fourth-screen--companies-text {
      width: 100%;
      text-align: center;
      margin: 50px 0 40px;
   }

   .fourth-screen--companies-img {
      margin: 0;
   }

   .fourth-screen--hub-img {
      display: none;
   }

   .fourth-screen--blue-block {
      width: 90%;
      height: 350px;
      justify-content: space-between;
      flex-direction: column;
      row-gap: 50px;
      box-sizing: border-box;
      padding: 89px 90px;
      background: #8BD4D6;
      border-radius: 10px;
      margin: 20 auto;
   }

   .fourth-screen--blue-block--tittle {
      font-size: 36px;
   }

   /* Footer */

   .footer {
      width: 100%;
      height: 200px;
      padding: 50px;
   }

   .footer-menues {
      display: none;
   }
}