body {
   margin: 0;
   background: antiquewhite;
}

span {
   font-size: 24px;
   color: rgb(255, 94, 0);
   margin-right: 5px;
}

.main-wrap {
   width: 60%;
   margin: 0 auto;
}

.bgr-dark {
   background: rgb(44, 44, 44);
   border-radius: 10px;
   border: 1px solid antiquewhite;
}

.font {
   color: antiquewhite;
   font-size: 24px;
}

.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.d-f {
   display: flex;
}

/* 1 */
.logo {
   width: 25%;
   height: 100px;
}

/* 2 */
.header {
   width: 74%;
   height: 100px;
}

/* 3 */
.nav {
   width: 25%;
   height: 400px;
}

/* 4 */
.bath {
   width: 75%;
   height: 200px;
}

/* 5 */
.ad {
   width: 25%;
   height: 200px;
}

/* 6 */
.types-of-bath {
   width: 75%;
   height: 400px;
}

/* 7 */
.related-products {
   width: 25%;
   height: 400px;
}

/* 8 */
/* 9 */
.store-locator,
.tools {
   width: 25%;
   height: 100px;
}

/* 10 */
.footer {
   width: 100%;
   height: 150px;
}

.logo-header-wrap {
   justify-content: space-between;
}

.wrap4-7 {
   width: 74%;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   position: relative;
   bottom: 400px;
   left: 26%;

}

.bath-ad,
.wrap6-7 {
   width: 100%;
   justify-content: space-between;
   align-items: center;
}

.wrap8-10 {
   position: relative;
   bottom: 600px;
}


@media screen and (max-width: 576px) {

   /* 3 */
   .nav {
      width: 100%;
      height: 100px;
   }

   .wrap4-7 {
      width: 100%;
      bottom: 0;
      left: 0;
   }

   .wrap6-7 {
      flex-direction: column;
   }

   /* 6 */
   .types-of-bath {
      width: 100%;
   }

   /* 7 */
   .related-products {
      width: 100%;
      height: 200px;
   }

   .wrap8-9 {
      justify-content: space-between;
   }

   /* 8 */
   /* 9 */
   .store-locator,
   .tools {
      width: 100%;
      height: 100px;
   }

   .wrap8-10 {
      bottom: 0;
   }
}