/* Main settings */
html {
   scroll-behavior: smooth;
}

.main-wrap {
   width: 1440px;
   margin: 0 auto;
   font-family: 'Roboto', sans-serif;
}

a {
   text-decoration: none;
}

/* Variables */
:root {
   --dark-color: #0B2330;
   --yellow-color: #F9C600;
   --white-color: #fff;
   --bright-blue-color: #51CEBC;
   --violet-color: #BD78F0;
   --fz-17: 17px;
   --fz-22: 22px;
   --fz-24: 24px;
}


/* Classes */
.d-f {
   display: flex;
}

.center {
   justify-content: center;
   align-items: center;
}

.uppercase-text {
   line-height: 24px;
   letter-spacing: 1.4px;
   text-transform: uppercase;
   color: #375361;
}

/* Buttons */
.btn {
   height: 54px;
   box-sizing: border-box;
   border: 1px solid transparent;
   border-radius: 10px;
   padding: 5px 0;
   font-size: 16px;
}

.btn-light {
   width: 163px;
   border: 1px solid var(--dark-color);
   transition: 200ms;
}

.btn-yellow {
   width: 163px;
   background: var(--yellow-color);
   color: var(--dark-color);
   transition: 200ms;
}

.btn-light:hover,
.btn-yellow:hover {
   background: var(--dark-color);
   color: var(--white-color);
   transition: 300ms;
}

.btn-dark {
   width: 163px;
   background: var(--dark-color);
   color: var(--white-color);
   transition: 300ms;
}

.btn-dark:hover {
   width: 163px;
   background: var(--white-color);
   border: 1px solid var(--dark-color);
   color: var(--dark-color);
   transition: 300ms;
}


/* Page elements */
/* header */
.header-block {
   width: 100%;
   align-items: center;
   flex-direction: column;
}

/* header navigation */
.header-nav {
   width: 100%;
   height: 83px;
   margin-top: 16px;
   justify-content: space-between;
}

.header-nav-logo {
   width: 104px;
   height: 52px;
}

.header-nav-menu>ul {
   width: 618px;
   height: 100%;
   justify-content: space-between;
   column-gap: 56px;
}


.header-nav-menu--item>a {
   font-size: 16px;
   color: #000;
   position: relative;
}

.header-nav-menu--item i {
   font-size: 10px;
   padding-left: 8px;
   position: absolute;
   bottom: 4px;
}

.header-nav-menu--item a:hover {
   text-shadow: 0 0 10px var(--bright-blue-color);
}

.header-nav-buttons {
   column-gap: 24px;
}

.btn-nav {
   width: 100px;
}

.btn-nav:hover {
   border: 1px solid var(--dark-color);
   box-shadow: 0 0 10px var(--dark-color);
   transition: 300ms;
}

.btn-dark:hover {
   width: 163px;
   background: var(--white-color);
   border: 1px solid var(--dark-color);
   color: var(--dark-color);
   transition: 300ms;
}

/* first screen */
.first-screen-container {
   width: 100%;
   height: 886px;
   justify-content: space-between;
}

.text-buttons-container {
   width: 436px;
   margin: 160px 0 0 100px;
}

h1 {
   font-size: 60px;
   line-height: 64px;
   letter-spacing: 0.6px;
   color: var(--dark-color);
}

.main-tittle-description {
   color: #375361;
   font-size: var(--fz-22);
   line-height: 32px;
   margin: 32px 0 38px;
}

.yellow-bgr-block {
   width: 600px;
   background-image: url(../images/yellow-bgr.png);
   position: relative;
}

.yellow-bgr-block img {
   width: 608px;
   height: 541px;
   display: block;
   position: absolute;
   right: 147px;
   top: 50%;
   transform: translateY(-50%);
}

.buttons-container {
   column-gap: 16px;
}

/* Second screen */
.second-screen-container {
   width: 100%;
   height: 1200px;
   flex-direction: column;
}

.second-screen--icons-and-tittle {
   height: 800px;
   flex-direction: column;
   justify-content: center;
   padding: 0 175px;
   box-sizing: border-box;
}

.second-screen--title {
   width: 547px;
   height: 96px;
   margin-bottom: 59px;
   text-align: center;
   font-size: 34px;
   line-height: 40px;
   color: var(--dark-color);
}

.second-screen--icons-cintainer {
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   column-gap: 80px;
   row-gap: 12px;
}

.second-screen--icon {
   width: 152px;
   height: 56px;
   box-sizing: border-box;
   border: 1px solid transparent;
   transition: 300ms;
   overflow: hidden;
}

.second-screen--icon:hover {
   border-radius: 50px;
   box-shadow: 5px 5px 10px var(--bright-blue-color);
   transition: 300ms;
}

/* Second screen blue block */
.blue-block-container {
   width: 100%;
   height: 500px;
   background: var(--bright-blue-color);
   border-radius: 10px;
   align-items: center;
}

.biker-img {
   width: 678px;
   height: 365px;
}

.blue-block--tittle-container {
   width: 562px;
   height: 100%;
   flex-direction: column;
}

.blue-block--tittle {
   font-size: 34px;
   line-height: 40px;
   color: var(--dark-color);
   margin-bottom: 35px;
}

.blue-block--desc {
   font-size: var(--fz-22);
   line-height: 32px;
   color: var(--dark-color);
}

/* third screen */
.third-screen {
   width: 100%;
   height: 1183px;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   box-sizing: border-box;
   padding: 181px 0 160px;
}

.third-screen--tittle {
   width: 711px;
   height: 80px;
   font-size: 34px;
   line-height: 40px;
   color: var(--dark-color);
   text-align: center;
}

.third-screen--image {
   margin: 57px 0 113px;
}

/* Fourth screen */
.fourth-screen-container {
   width: 100%;
   flex-direction: column;
   position: relative;
   margin: 0 32px;
}

.fourht-screen-tittle-img-container {
   height: 537px;
   box-sizing: border-box;
   align-items: center;
}

.fourht-screen--img {
   width: 562px;
   height: 409px;
}

.fourht-screen-tittle-container {
   margin-left: 136px;
}

.fourth-screen--target-tittle {
   width: 485px;
   height: 192px;
   font-size: 42px;
   line-height: 48px;
   color: var(--dark-color);
   margin-bottom: 39px;
}

.fourth-screen--target-descr {
   width: 550px;
   height: 56px;
   font-size: var(--fz-17);
   line-height: 28px;
}

.fourth-screen--violet-bgr {
   width: 1260px;
   height: 537px;
   border-radius: 10px;
   background: var(--violet-color);
   position: absolute;
   z-index: -1;
   left: 116px;
}

.fourht-screen--text-container {
   height: 594px;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding: 136px 699px 238px 116px;
   box-sizing: border-box;
}

.fourht-screen--text-uppercase {
   text-transform: uppercase;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 1.4px;
   color: #6A7981;
}

.fourht-screen--text-tittle {
   font-size: 42px;
   line-height: 48px;
   letter-spacing: 0.42px;
   color: var(--dark-color);
}

.fourht-screen--text-desc {
   font-size: 22px;
   line-height: 32px;
   color: #375361;
}

/* Fifth screen */
.fifth-screen-container {
   height: 1400px;
   flex-direction: column;
   justify-content: space-between;
   margin: 0 32px 0 148px;
   position: relative;
}

.fifth-screen--card {
   width: 100%;
   height: 348px;
   align-items: center;
   align-items: center;
   margin-bottom: 100px;
}

.fifth-screen--card-info {
   flex-direction: column;
   justify-content: space-between;
}

.fifth-screen--card-icon>img {
   width: 40px;
   height: 40px;
}

.fifth-screen--card-tittle {
   font-size: 34px;
   line-height: 40px;
   letter-spacing: 0.34px;
   color: var(--dark-color);
   margin-top: 35px;
}

.fifth-screen--card-desc {
   width: 484px;
   height: 84px;
   margin: 29px 263px 64px 0;
   color: #375361;
}

.fifth-screen--card-img {
   width: 513px;
   height: 348px;
   border: 4px solid transparent;
   box-sizing: border-box;
   transition: 300ms;
}

.fifth-screen--card-img img {
   width: 513px;
   height: 348px;
}

.fifth-screen--card-img:hover {
   border: 4px solid var(--bright-blue-color);
   box-shadow: 0 0 10px var(--bright-blue-color);
   transition: 300ms;
}

.fifth-screen--card-button {
   margin-bottom: 20px;
}

.fifth-screen--buttons-container {
   position: absolute;
   bottom: 70px;
   column-gap: 24px;
}

.fifth-screen-btn {
   height: 16px;
}

.fifth-screen-btn>button {
   text-transform: uppercase;
   font-size: 12px;
   line-height: 16px;
   color: #61757E;
   border: 1px solid transparent;
   border-radius: 4px;
}

.fifth-screen-btn>button:hover {
   background: #FE9F28;
}

/* Sixth screen */
.sixth-screen-container {
   width: 1440px;
   height: 960px;
   flex-direction: column;
   margin: 0 122px;
   box-sizing: border-box;
   padding-top: 96px;
}

.sixth-screen-tittle {
   width: 1064px;
   height: 128px;
   font-size: 60px;
   line-height: 64px;
   letter-spacing: 0.6px;
   color: var(--dark-color);
   margin: 10px 0 120px;

}

.sixth-screen--img-dropdown-menu {
   column-gap: 141px;
}

.sixth-screen--dropdown-menu {
   width: 589px;
   height: 486px;
   border-top: 2px solid #C9316F;
   position: relative;
   display: inline-block;
   flex-direction: column;
}

.sixth-screen--dropdown-menu--button,
.sixth-screen--dropdown-menu--button1,
.sixth-screen--dropdown-menu--button2 {
   width: 588px;
   height: 80px;
   justify-content: space-between;
   align-items: center;
   font-size: 24px;
   line-height: 32px;
   color: var(--dark-color);
}

.icon {
   margin-left: 319px;
}

.sixth-screen--dropdown-menu--button-content {
   width: 588px;
   height: 216px;
   display: none;
   flex-direction: column;
   align-items: stretch;
   position: absolute;
   font-size: 17px;
   line-height: 28px;
   background: #fff;
}

.sixth-screen--dropdown-menu--button-content p {
   width: 100%;
   margin: 4px 169px 32px 0;
}

.sixth-screen--dropdown-menu--button:hover .sixth-screen--dropdown-menu--button-content {
   display: block;
   top: 80px;
}

.sixth-screen--dropdown-menu--button1:hover .sixth-screen--dropdown-menu--button-content {
   display: block;
   top: 160px;
}

.sixth-screen--dropdown-menu--button2:hover .sixth-screen--dropdown-menu--button-content {
   display: block;
   top: 240px;
}

.learn-more i {
   margin-left: 8px;
}

/* Seventh screen  */
.seventh-screen-container {
   width: 100%;
   height: 819px;
   padding: 124px 140px 148px;
   box-sizing: border-box;
   align-items: center;
}

.seventh-screen-container--info {
   flex-direction: column;
   justify-content: center;
}

.seventh-screen-container--tittle {
   width: 660px;
   height: 120px;
   font-size: 34px;
   line-height: 40px;
   letter-spacing: 0.34px;
   color: var(--dark-color);
   margin: 15px 185px 0 0;
}

.seventh-screen-container--description {
   width: 667px;
   height: 84px;
   font-size: var(--fz-17);
   line-height: 28px;
   color: #375361;
   margin: 37px 185px 37px 0;
}

.seventh-screen-container--img {
   width: 512px;
   height: 418px;
   margin-right: 72px;
}

/* Eight screen */
.eighth-screen-container {
   width: 100%;
   height: 710px;
   box-sizing: border-box;
   padding: 0 32px 46px;
   column-gap: 21px;
   border-radius: 0px 10px 10px 0px;

}

.eighth-screen-container--info {
   flex-direction: column;
   justify-content: center;
   padding: 0 132px 0 116px;
}

.eighth-screen-container--tittle {
   width: 314px;
   height: 64px;
   font-size: var(--fz-24);
   line-height: 32px;
   color: var(--dark-color);
   margin: 17px 0 27px 0;
}

.eighth-screen-container--description {
   width: 325px;
   height: 84px;
   font-size: var(--fz-17);
   line-height: 28px;
   color: var(--dark-color);
   margin-bottom: 36px;
}

.eighth-screen-feedback-container {
   padding: 79px 121px 118px 116px;
   box-sizing: border-box;
   background: url(../images/eight-card-bgr.png);
}

.eighth-screen-feedback--tittle {
   width: 557px;
   height: 240px;
   font-size: 34px;
   line-height: 40px;
   color: #000;
   margin-bottom: 95px;

}

.eighth-screen-feedback--photo {
   width: 80px;
   height: 80px;
   margin-right: 24px;
}

.eighth-screen-feedback--card-info {
   flex-direction: column;
   justify-content: center;
}

.eighth-screen-feedback--card-info--tittle {
   font-size: 16px;
   line-height: 24px;
   color: var(--dark-color);
}

.eighth-screen-feedback--card-info--desc {
   line-height: 28px;
   font-size: var(--fz-17);
   color: #2F3F48;
}

/* Ninth screen */
.ninth-screen-container {
   width: 100%;
   height: 423px;
   flex-direction: column;
   align-items: center;
   background: var(--dark-color);
   color: var(--white-color);
   box-sizing: border-box;
   padding: 53px 416px 95px 415px;
}

.ninth-screen-container--tittle {
   font-size: 42px;
   line-height: 48px;
}

.ninth-screen-container--desc {
   font-size: var(--fz-17);
   line-height: 28px;
   margin: 31px 0 36px;
}

/* Footer */
.footer {
   background: var(--dark-color);
   color: #94A0A4;

}

.footer-inside-wrap {
   width: 1376px;
   height: 678px;
   margin: 0 auto;
   border-top: 2px solid #375361;
   flex-direction: column;
   row-gap: 69px;
   box-sizing: border-box;
   padding: 80px 0 206px
}

.footer-logo-and-menu {
   column-gap: 110px;
}

.footer-product-menu li,
.footer-customer-menu li,
.footer--company-menu li,
.footer-resources-menu li {
   margin-bottom: 14px;
}

.footer-product-menu li>a,
.footer-customer-menu li>a,
.footer--company-menu li>a,
.footer-resources-menu li>a {
   color: #94A0A4;
}

.footer-menu ul>li:first-child a {
   color: #F9C600;
}

.footer-menu li>a:hover,
.footer--social-media-icon i:hover {
   text-shadow: 0 0 10px #94A0A4;
}

.footer-copyright-and-social-media {
   justify-content: space-between;
   margin: 0 118px 0 236px;
}

.footer--copyright {
   font-size: 14px;
   line-height: 20px;
}

.footer--social-media-icons {
   width: 132px;
   height: 30px;
   justify-content: space-between;
   align-items: center;
}

.footer--social-media-icon i {
   font-size: 28px;
}

.up {
   width: 50px;
   height: 50px;
   border: 1px solid var(--dark-color);
   border-radius: 50%;
   bottom: 30px;
   right: 30px;
   position: fixed;
   transition: 300ms;
}

.up a {
   color: var(--dark-color);
   font-size: 22px;
   border: 10px solid transparent;
   border-radius: 50%;
   font-family: system-ui;
   transition: 300ms;
}

.up a:hover,
.up:hover {
   text-shadow: 0 0 10px #51CEBC;
   box-shadow: 0 0 20px #51CEBC;
   transition: 300ms;
}