.block-1 {
   width: 500px;
   height: 250px;
   background-color: silver;
   box-shadow: -10px -20px 25px #d5bb98;
   margin: 25px;

}

.block-2 {
   width: 330px;
   height: 90px;
   margin-left: 25px;
   border-left: 5px solid red;
   box-sizing: border-box;
   padding-left: 20px;
}