body {
   margin: 0;
   background-color: rgb(41, 40, 40);
   color: rgb(187, 187, 187);
}

.cards {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.card-container {
   width: 650px;
   height: 180px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 20px;
   border: 1px solid rgb(187, 187, 187);
   border-radius: 30px;
   box-sizing: border-box;
   padding: 10px;
}

.icon {
   width: 80px;
   height: 100px;
   font-size: 72px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 15px;
}

.text-wrap {
   width: 550px;
   display: flex;
   flex-direction: column;
}

.tittle {
   display: flex;
   justify-content: center;
   font-size: larger;
   margin-bottom: 10px;
}

.description {
   text-align: justify;
   margin-right: 10px;
}